html {
  background-color: #fafaf9;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: #ffffff;
  margin-top: 164px;
  margin-left: auto;
  margin-right: auto;
  width: 368px;
  box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

header, main, footer {
    padding-left: 16px;
    padding-right: 16px;
}

header{
    padding-top: 16px;
    padding-bottom: 8px;
}

main{
    padding-top: 16px;
    padding-bottom: 8px;
}

footer{
    padding-top: 16px;
    padding-bottom: 8px;
}

img{
    display: block;
    width: 336px;
    height: 152px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
h2 {
  background-color: #f2eafd;
  font-size: 10px;
  color: #7c19ee;
  width: fit-content;
  margin: 16px 0 0 0;
  padding: 6px 16px 6px 16px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
h1 {
  font-size: 18px;
  color: #20293a;
  margin: 0 0 6px 0;
}
.opinion {
  margin: 0;
  font-weight: 300;
  color: #394150;
  font-size: 14px;
}
.autor {
  font-weight: 300;
  color: #394150;
  font-size: 12px;
}
